:root {
    --yposition: 0px;
    --iniwidth: 100%;
    --selectedpos: 100%;
    --barheight: 80px;
    --iniheight: 0px;
    --finheight: 100px;
    --introduration: 1s;
}

.bar {
    opacity: 0%;
    margin: 15px 3% 15px 3%;
    height: var(--barheight);
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 40pt;
    line-height: var(--barheight);
    padding-left: 15px;
    animation-name: unset;
    display: flex;
    border-radius: 5px;
    z-index: 5;
    flex-wrap: wrap;
}


.bar .label{
    height: var(--barheight);
    z-index: 8;
    margin-top: 0;
    width: 100%;
    height: 100%;
    flex-grow: 1;
}

.bar.intro{
    animation-name: introText, l1Text;
    animation-duration: var(--introduration);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.bar.out {
    animation-name: outBar;
    position: relative;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    width: var(--iniwidth);
}

.bar.focus {
    animation-name: focusBar;
    position: relative;
    z-index: 10;
    opacity: 100%;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-direction: normal;
}

.bar.unfocus {
    animation-name: unfocusBar;
    position: relative;
    z-index: 5;
    opacity: 100%;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-direction: normal;
}

.bar.inagain {
    animation-name: inagainBar, l1Text;
    position: relative;
    opacity: 100%;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-direction: normal;
}


@keyframes introText {
    0% {
        opacity: 0%;
        padding-left: 100%;
        margin-left: 100%;
    }
    100% {
        opacity: 100%;
        padding-left: 15px;
        margin-left: 3%;
    }
}

@keyframes outBar {
    0% {
        opacity: 100%;
        left: 0px;
    }
    100% {
        opacity: 0%;
        left: -100%;
    }
}

@keyframes inagainBar {
    100% {
        opacity: 100%;
        left: 0px;
    }
    0% {
        opacity: 0%;
        left: -100%;
    }
}

@keyframes focusBar {
    0% {
        opacity: 100%;
        width: var(--iniwidth);
        top: 0px;
    }
    100% {
        opacity: 100%;
        width: 94%;
        top: var(--yposition);
    }
}

@keyframes unfocusBar {
    100% {
        opacity: 100%;
        width: var(--iniwidth);
        top: 0px;
    }
    0% {
        opacity: 100%;
        width: 94%;
        top: var(--yposition);
    }
}

@keyframes l1Text{
    0% {
        width: 94%;
    }
    100% {
        width: var(--iniwidth);
    }
}

:root {
    --subbarshort: 200px;
    --subbarlong: 500px;
    --subbarmid: 70%;
}
.sub-bar {
    width: 50px;
    height: 0px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 0px; 
    z-index: 3;
}

.sub-bar.extend{
    animation-name: subBarExtend;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-direction: normal;
}
.sub-bar.retract{
    animation-name: subBarRetract;
    animation-duration: 0.7s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-direction: normal;
}

.sub-bar.select{
    position: relative;
    right: var(--selectedpos);
}

.sub-bar.hide {
    animation-name: subBarHide;
    animation-duration: 0.7s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-direction: normal;
}

.sub-bar.show {
    animation-name: subBarShow;
    animation-duration: 0.7s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-direction: normal;
}

@keyframes subBarExtend {
    0% {
        height: var(--subbarshort);
    }
    100%{
        height: var(--subbarlong);
    }
}

@keyframes subBarRetract {
    0% {
        height: var(--subbarlong);
    }
    100%{
        height: var(--subbarshort);
    }
}

@keyframes subBarHide {
    0% {
        height: var(--subbarshort);
    }
    100% {
        height: 0px;
    }
}

@keyframes subBarShow {
    100% {
        height: var(--subbarshort);
    }
    0% {
        height: 0px;
    }
}

@keyframes subBarPeek {
    0% {
        height: var(--subbarshort);
    }
    100%{
        height: var(--subbarmid);
    }
}   
@keyframes subBarUnpeek {
    100% {
        height: var(--subbarshort);
    }
    0%{
        height: var(--subbarmid);
    }
}